In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
coyoacan = pd.read_csv('coyoacan-catastro.csv')

In [4]:
coyoacan.head()

,codigo_postal,superficie_terreno,superficie_construccion,uso_construccion,clave_rango_nivel,anio_construccion,instalaciones_especiales,valor_unitario_suelo,valor_suelo,clave_valor_unitario_suelo,subsidio,latitud,longitud,colonia,alcaldia
0,4110,575.00,702.00,Habitacional,02,1980.0,Sí,5389.03,3098692.25,A040147,0.00,19.358058,-99.170429,DEL CARMEN,COYOACAN
1,4100,518.05,486.83,Habitacional,05,2015.0,Sí,5389.03,2791786.99,A040147,3793.23,19.357605,-99.170332,DEL CARMEN,COYOACAN
2,4110,247.00,0.00,NaN,01,2007.0,No,5389.03,1331090.41,A040147,0.00,19.358440,-99.170402,DEL CARMEN,COYOACAN
3,4100,995.00,1173.64,Habitacional y comercial,02,1980.0,Sí,5389.03,5362084.85,A040147,0.00,19.358253,-99.170466,DEL CARMEN,COYOACAN
4,4110,687.00,604.00,Habitacional,05,1970.0,No,5389.03,3702263.61,A040147,0.00,19.357749,-99.170364,DEL CARMEN,COYOACAN

In [5]:
bj = pd.read_csv('benito-juarez-catastro.csv')

In [6]:
bj.head()

,codigo_postal,superficie_terreno,superficie_construccion,uso_construccion,clave_rango_nivel,anio_construccion,instalaciones_especiales,valor_unitario_suelo,valor_suelo,clave_valor_unitario_suelo,subsidio,latitud,longitud,colonia,alcaldia
0,3400,122.0,267.0,Habitacional,02,1988,Sí,5340.32,651519.04,A030044,704.22,19.403473,-99.142873,ALAMOS I,BENITO JUAREZ
1,3400,110.0,84.0,Habitacional,02,1970,No,5340.32,587435.20,A030044,706.31,19.403478,-99.142968,ALAMOS I,BENITO JUAREZ
2,3400,99.0,200.0,Habitacional,02,1970,Sí,5340.32,528691.68,A030044,640.79,19.403482,-99.143053,ALAMOS I,BENITO JUAREZ
3,3400,96.0,166.0,Habitacional,02,1970,No,5340.32,512670.72,A030044,724.56,19.403487,-99.143129,ALAMOS I,BENITO JUAREZ
4,3400,101.0,235.0,Habitacional,05,1966,Sí,5340.32,539372.32,A030044,749.81,19.403491,-99.143206,ALAMOS I,BENITO JUAREZ

In [7]:
cuajimalpa = pd.read_csv('cuajimalpa-catastro.csv')

In [8]:
cuajimalpa.head()

,codigo_postal,superficie_terreno,superficie_construccion,uso_construccion,clave_rango_nivel,anio_construccion,instalaciones_especiales,valor_unitario_suelo,valor_suelo,clave_valor_unitario_suelo,subsidio,latitud,longitud,colonia,alcaldia
0,01830,1594.0,225.0,NaN,02,1981.0,No,196.31,312918.14,A050359,784.79,19.323299,-99.295019,SAN MATEO TLALTENANGO (PBLO),CUAJIMALPA DE MORELOS
1,01830,3875.0,172.0,NaN,01,2007.0,No,196.31,760701.25,A050359,0.00,19.323388,-99.295156,SAN MATEO TLALTENANGO (PBLO),CUAJIMALPA DE MORELOS
2,05260,332.0,293.0,Habitacional y comercial,02,1967.0,No,1781.35,591408.20,A050152,660.19,19.371699,-99.289891,NAVIDAD (GRANJAS DE NAVIDAD),CUAJIMALPA DE MORELOS
3,05200,161.0,294.0,Habitacional y comercial,05,2009.0,No,1781.35,286797.35,A050152,764.18,19.371464,-99.289928,NAVIDAD (GRANJAS DE NAVIDAD),CUAJIMALPA DE MORELOS
4,05200,68.0,0.0,Habitacional y comercial,01,2007.0,No,1781.35,121131.80,A050152,0.00,19.371373,-99.289932,NAVIDAD (GRANJAS DE NAVIDAD),CUAJIMALPA DE MORELOS

In [9]:
cuauh = pd.read_csv('cuauhtemoc-catastro.csv')

In [10]:
cuauh.head()

,codigo_postal,superficie_terreno,superficie_construccion,uso_construccion,clave_rango_nivel,anio_construccion,instalaciones_especiales,valor_unitario_suelo,valor_suelo,clave_valor_unitario_suelo,subsidio,latitud,longitud,colonia,alcaldia
0,6060,3687.08,10729.89,Equipamiento,RU,1967,Sí,9809.51,36168448.13,C-06-E',0.0,19.435589,-99.140302,CENTRO IV,CUAUHTEMOC
1,6060,1942.00,343.18,Equipamiento,10,1995,Sí,9809.51,19054679.00,C-06-E',0.0,19.435040,-99.140402,CENTRO IV,CUAUHTEMOC
2,6060,1942.00,506.10,Equipamiento,10,1995,Sí,9809.51,19054679.00,C-06-E',0.0,19.435040,-99.140402,CENTRO IV,CUAUHTEMOC
3,6060,1942.00,4721.04,Equipamiento,10,1995,Sí,9809.51,19054679.00,C-06-E',0.0,19.435040,-99.140402,CENTRO IV,CUAUHTEMOC
4,6060,1942.00,4778.62,Equipamiento,10,1995,Sí,9809.51,19054679.00,C-06-E',0.0,19.435040,-99.140402,CENTRO IV,CUAUHTEMOC

In [11]:
gustavomadero = pd.read_csv('gustavo-a-madero-catastro.csv')

In [12]:
gustavomadero.head()

,codigo_postal,superficie_terreno,superficie_construccion,uso_construccion,clave_rango_nivel,anio_construccion,instalaciones_especiales,valor_unitario_suelo,valor_suelo,clave_valor_unitario_suelo,subsidio,latitud,longitud,colonia,alcaldia
0,7800.0,152.0,455.0,Habitacional,5,1966,Sí,3138.07,476986.64,A070394,0.00,19.480410,-99.126503,INDUSTRIAL II,GUSTAVO A. MADERO
1,7800.0,147.0,208.0,Habitacional,2,1968,No,3138.07,461296.29,A070394,584.48,19.480330,-99.126527,INDUSTRIAL II,GUSTAVO A. MADERO
2,7800.0,172.0,244.0,Habitacional,2,1970,No,3138.07,539748.04,A070394,721.75,19.480253,-99.126562,INDUSTRIAL II,GUSTAVO A. MADERO
3,7800.0,85.0,186.0,Habitacional,2,1971,No,3138.07,266735.95,A070394,715.84,19.480163,-99.126552,INDUSTRIAL II,GUSTAVO A. MADERO
4,7800.0,131.0,224.0,Habitacional,2,1971,No,3138.07,411087.17,A070394,609.57,19.480254,-99.126693,INDUSTRIAL II,GUSTAVO A. MADERO

In [13]:
iztacalco = pd.read_csv('iztacalco-catastro.csv')

In [14]:
iztacalco.head()

,codigo_postal,superficie_terreno,superficie_construccion,uso_construccion,clave_rango_nivel,anio_construccion,instalaciones_especiales,valor_unitario_suelo,valor_suelo,clave_valor_unitario_suelo,subsidio,latitud,longitud,colonia,alcaldia
0,8200,34.0,102.0,Habitacional,05,1966,Sí,3579.13,121690.42,C-08-F,0.00,19.402965,-99.135836,VIADUCTO PIEDAD,IZTACALCO
1,8200,87.0,255.0,Habitacional,02,1977,No,3579.13,311384.31,C-08-F,697.32,19.402900,-99.135865,VIADUCTO PIEDAD,IZTACALCO
2,8200,155.0,261.0,Habitacional,02,1968,No,3579.13,554765.15,C-08-F,589.53,19.402832,-99.135912,VIADUCTO PIEDAD,IZTACALCO
3,8200,162.0,370.0,Habitacional,05,1997,No,2841.29,460288.98,A080224,0.00,19.402765,-99.135935,VIADUCTO PIEDAD,IZTACALCO
4,8200,159.0,458.0,Habitacional,05,1977,No,2841.29,451765.11,A080224,0.00,19.402695,-99.135946,VIADUCTO PIEDAD,IZTACALCO

In [15]:
azcapo = pd.read_csv('azcapotzalco-catastro.csv')

In [16]:
azcapo.head()

,codigo_postal,superficie_terreno,superficie_construccion,uso_construccion,clave_rango_nivel,anio_construccion,instalaciones_especiales,valor_unitario_suelo,valor_suelo,clave_valor_unitario_suelo,subsidio,latitud,longitud,colonia,alcaldia
0,2010,142.52,352.33,Habitacional,05,1973,Sí,2354.24,335526.28,A020333,0.00,19.485814,-99.188834,SAN RAFAEL,AZCAPOTZALCO
1,2010,153.15,199.21,Habitacional,02,1971,No,2354.24,360551.86,A020333,746.46,19.485726,-99.188857,SAN RAFAEL,AZCAPOTZALCO
2,2010,751.55,687.56,Habitacional,02,1966,No,2354.24,1769329.07,A020333,0.00,19.485599,-99.188977,SAN RAFAEL,AZCAPOTZALCO
3,2010,373.00,255.00,Habitacional,02,1980,No,2354.24,878131.52,A020333,589.04,19.485444,-99.189000,SAN RAFAEL,AZCAPOTZALCO
4,2010,302.92,324.03,Habitacional,02,1998,No,2354.24,713146.38,A020333,691.81,19.485347,-99.189025,SAN RAFAEL,AZCAPOTZALCO

In [17]:
xochi = pd.read_csv('xochimilco-catastro.csv')

In [18]:
xochi.head()

,codigo_postal,superficie_terreno,superficie_construccion,uso_construccion,clave_rango_nivel,anio_construccion,instalaciones_especiales,valor_unitario_suelo,valor_suelo,clave_valor_unitario_suelo,subsidio,latitud,longitud,colonia,alcaldia
0,16790,390.0,89.00,Áreas Verdes,02,1992.0,No,822.85,320911.50,A130110,432.96,19.245076,-99.010894,OLIVAR SANTA MARIA,XOCHIMILCO
1,16790,625.0,285.00,Áreas Verdes,02,1995.0,No,822.85,514281.25,A130110,740.08,19.244994,-99.010840,OLIVAR SANTA MARIA,XOCHIMILCO
2,13546,720.5,354.57,Áreas Verdes,02,1992.0,No,822.85,592863.43,A130110,646.05,19.244807,-99.011002,OLIVAR SANTA MARIA,XOCHIMILCO
3,16790,261.0,96.00,Áreas Verdes,02,1993.0,No,822.85,214763.85,A130110,350.19,19.243459,-99.012259,OLIVAR SANTA MARIA,XOCHIMILCO
4,16790,185.0,43.00,Áreas Verdes,02,1981.0,No,822.85,152227.25,A130110,172.05,19.243300,-99.012276,OLIVAR SANTA MARIA,XOCHIMILCO

In [19]:
venustiano_carranza = pd.read_csv('venustiano-carranza-catastro.csv')

In [20]:
venustiano_carranza.head()

,codigo_postal,superficie_terreno,superficie_construccion,uso_construccion,clave_rango_nivel,anio_construccion,instalaciones_especiales,valor_unitario_suelo,valor_suelo,clave_valor_unitario_suelo,subsidio,latitud,longitud,colonia,alcaldia
0,15210,156.0,210.0,Habitacional y comercial,02,1971,No,3020.98,471272.88,A150013,602.53,19.456054,-99.115200,VALLE GOMEZ,VENUSTIANO CARRANZA
1,15210,127.0,250.0,Habitacional y comercial,02,1998,No,3020.98,383664.46,A150013,779.42,19.456111,-99.115307,VALLE GOMEZ,VENUSTIANO CARRANZA
2,15210,19.0,64.0,Habitacional y comercial,05,1967,No,3020.98,57398.62,A150013,254.07,19.456149,-99.115382,VALLE GOMEZ,VENUSTIANO CARRANZA
3,15210,17.0,59.0,Habitacional y comercial,05,1966,No,3020.98,51356.66,A150013,223.81,19.456149,-99.115382,VALLE GOMEZ,VENUSTIANO CARRANZA
4,15210,15.0,52.0,Habitacional y comercial,05,1966,No,3020.98,45314.70,A150013,210.07,19.456149,-99.115382,VALLE GOMEZ,VENUSTIANO CARRANZA

In [21]:
tlalpan = pd.read_csv('tlalpan-catastro.csv')

In [22]:
tlalpan.head()

,codigo_postal,superficie_terreno,superficie_construccion,uso_construccion,clave_rango_nivel,anio_construccion,instalaciones_especiales,valor_unitario_suelo,valor_suelo,clave_valor_unitario_suelo,subsidio,latitud,longitud,colonia,alcaldia
0,0,396.89,427.32,NaN,02,1998,No,884.74,351144.46,A100331,675.78,19.272251,-99.243914,BOSQUES DEL PEDREGAL,TLALPAN
1,14738,244.00,134.00,NaN,02,1997,No,884.74,215876.56,A100331,320.94,19.272155,-99.243852,BOSQUES DEL PEDREGAL,TLALPAN
2,14738,1512.34,377.00,NaN,05,1998,No,884.74,1338027.69,A100331,0.00,19.271892,-99.243704,BOSQUES DEL PEDREGAL,TLALPAN
3,14738,272.00,71.00,NaN,02,1998,No,884.74,240649.28,A100331,222.77,19.271637,-99.243576,BOSQUES DEL PEDREGAL,TLALPAN
4,0,322.00,76.00,NaN,02,1999,No,884.74,284886.28,A100331,278.85,19.271562,-99.243545,BOSQUES DEL PEDREGAL,TLALPAN

In [23]:
tlahuac = pd.read_csv('tlahuac-catastro.csv')

In [24]:
tlahuac.head()

,codigo_postal,superficie_terreno,superficie_construccion,uso_construccion,clave_rango_nivel,anio_construccion,instalaciones_especiales,valor_unitario_suelo,valor_suelo,clave_valor_unitario_suelo,subsidio,latitud,longitud,colonia,alcaldia
0,13720,1519.38,524.69,Habitacional,2,2000.0,No,694.75,1055589.25,A120130,0.00,19.211541,-98.973235,EMILIANO ZAPATA 1A,TLAHUAC
1,12100,691.00,76.00,Habitacional,2,1969.0,No,694.75,480072.25,A120130,433.06,19.211070,-98.973402,EMILIANO ZAPATA 1A,TLAHUAC
2,13720,134.00,134.00,Habitacional,2,1990.0,No,694.75,93096.50,A120130,216.85,19.211063,-98.973593,EMILIANO ZAPATA 1A,TLAHUAC
3,13720,114.00,53.00,Habitacional,2,1989.0,No,694.75,79201.50,A120130,175.29,19.211111,-98.973714,EMILIANO ZAPATA 1A,TLAHUAC
4,13720,336.00,105.00,Habitacional,2,1984.0,No,694.75,233436.00,A120130,254.87,19.211193,-98.973775,EMILIANO ZAPATA 1A,TLAHUAC

In [25]:
milpa_alta = pd.read_csv('milpa-alta-catastro.csv')

In [26]:
milpa_alta.head()

,codigo_postal,superficie_terreno,superficie_construccion,uso_construccion,clave_rango_nivel,anio_construccion,instalaciones_especiales,valor_unitario_suelo,valor_suelo,clave_valor_unitario_suelo,subsidio,latitud,longitud,colonia,alcaldia
0,12000,590.0,134.0,Habitacional y comercial,2,1995.0,No,689.78,406970.20,A120010,508.54,19.193162,-99.019522,VILLA MILPA ALTA (PBLO),MILPA ALTA
1,12000,336.0,98.0,Habitacional y comercial,2,1984.0,No,689.78,231766.08,A120010,241.11,19.193251,-99.019609,VILLA MILPA ALTA (PBLO),MILPA ALTA
2,12000,255.0,60.0,Habitacional y comercial,2,1992.0,No,689.78,175893.90,A120010,200.73,19.192719,-99.019946,VILLA MILPA ALTA (PBLO),MILPA ALTA
3,12000,114.0,0.0,Habitacional y comercial,1,2007.0,No,689.78,78634.92,A120010,0.00,19.192741,-99.019745,VILLA MILPA ALTA (PBLO),MILPA ALTA
4,12000,600.0,206.0,Habitacional y comercial,2,1982.0,No,689.78,413868.00,A120010,590.78,19.192744,-99.019832,VILLA MILPA ALTA (PBLO),MILPA ALTA

In [27]:
miguel_hidalgo = pd.read_csv('miguel-hidalgo-catastro.csv')

In [28]:
miguel_hidalgo.head()

,codigo_postal,superficie_terreno,superficie_construccion,uso_construccion,clave_rango_nivel,anio_construccion,instalaciones_especiales,valor_unitario_suelo,valor_suelo,clave_valor_unitario_suelo,subsidio,latitud,longitud,colonia,alcaldia
0,11590,117.18,105.62,Habitacional y comercial,02,1980.0,Sí,12719.62,1490485.07,C-11-P,0.00,19.429477,-99.174202,ANZURES,MIGUEL HIDALGO
1,11590,230.69,279.84,Habitacional y comercial,05,1973.0,No,12249.17,2825761.03,C-11-H,0.00,19.429382,-99.174283,ANZURES,MIGUEL HIDALGO
2,11590,139.96,265.96,Habitacional y comercial,02,1966.0,No,12249.17,1714393.83,C-11-H,0.00,19.429298,-99.174355,ANZURES,MIGUEL HIDALGO
3,11590,175.00,424.00,Habitacional y comercial,05,1960.0,No,12249.17,2143604.75,C-11-H,0.00,19.429225,-99.174396,ANZURES,MIGUEL HIDALGO
4,11590,114.00,241.00,Habitacional y comercial,05,1966.0,No,12249.17,1396405.38,C-11-H,594.13,19.429134,-99.174430,ANZURES,MIGUEL HIDALGO

In [29]:
magdalena_contreras =pd.read_csv('magdalena-contreras-catastro.csv')

In [30]:
magdalena_contreras.head()

,codigo_postal,superficie_terreno,superficie_construccion,uso_construccion,clave_rango_nivel,anio_construccion,instalaciones_especiales,valor_unitario_suelo,valor_suelo,clave_valor_unitario_suelo,subsidio,latitud,longitud,colonia,alcaldia
0,1080,220.35,301.01,Habitacional y comercial,02,1991.0,No,3619.89,797642.76,A011853,663.50,19.336920,-99.207774,INFONAVIT (U HAB),LA MAGDALENA CONTRERAS
1,1080,136.00,165.00,Habitacional y comercial,02,1968.0,No,3619.89,492305.04,A011853,738.26,19.336677,-99.207687,INFONAVIT (U HAB),LA MAGDALENA CONTRERAS
2,1080,24.00,83.00,Habitacional y comercial,05,1965.0,Sí,3619.89,86877.36,A011853,397.79,19.336567,-99.208001,INFONAVIT (U HAB),LA MAGDALENA CONTRERAS
3,1080,24.00,83.00,Habitacional y comercial,05,1965.0,Sí,3619.89,86877.36,A011853,397.79,19.336567,-99.208001,INFONAVIT (U HAB),LA MAGDALENA CONTRERAS
4,1080,28.00,97.00,Habitacional y comercial,05,1966.0,Sí,3619.89,101356.92,A011853,492.00,19.336567,-99.208001,INFONAVIT (U HAB),LA MAGDALENA CONTRERAS

In [31]:
iztapalapa = pd.read_csv('iztapalapa-catastro.csv')

In [32]:
iztapalapa.head()

,codigo_postal,superficie_terreno,superficie_construccion,uso_construccion,clave_rango_nivel,anio_construccion,instalaciones_especiales,valor_unitario_suelo,valor_suelo,clave_valor_unitario_suelo,subsidio,latitud,longitud,colonia,alcaldia
0,9440,307.81,395.05,Habitacional y comercial,02,1985.0,Sí,3002.2,924107.18,A090693,960.77,19.377201,-99.134338,ZACAHUITZCO,IZTAPALAPA
1,9490,1049.17,755.29,Habitacional y comercial,02,1977.0,No,3002.2,3149818.17,A090693,0.00,19.377027,-99.134531,ZACAHUITZCO,IZTAPALAPA
2,9490,411.56,439.59,Habitacional y comercial,02,1974.0,Sí,3002.2,1235585.43,A090693,0.00,19.376883,-99.134541,ZACAHUITZCO,IZTAPALAPA
3,9440,246.00,198.00,Habitacional y comercial,02,1970.0,No,3002.2,738541.20,A090693,612.88,19.376804,-99.134653,ZACAHUITZCO,IZTAPALAPA
4,9490,1446.98,692.86,Habitacional y comercial,02,1966.0,Sí,3002.2,4344123.36,A090693,0.00,19.376625,-99.134582,ZACAHUITZCO,IZTAPALAPA

In [33]:
alvaro_obregon = pd.read_csv('alvaro-obregon-catastro.csv')

In [34]:
alvaro_obregon.head()

,codigo_postal,superficie_terreno,superficie_construccion,uso_construccion,clave_rango_nivel,anio_construccion,instalaciones_especiales,valor_unitario_suelo,valor_suelo,clave_valor_unitario_suelo,subsidio,latitud,longitud,colonia,alcaldia
0,1120,12276.00,2452.08,NaN,02,2018.0,Sí,2400.71,29470252.00,A010513,0.00,19.402294,-99.193392,COVE,ALVARO OBREGON
1,1120,12276.00,8763.97,NaN,99,2018.0,Sí,2400.71,29470252.00,A010513,0.00,19.402294,-99.193392,COVE,ALVARO OBREGON
2,1120,12276.00,8294.69,NaN,99,2018.0,Sí,2400.71,29470252.00,A010513,0.00,19.402294,-99.193392,COVE,ALVARO OBREGON
3,1120,89.14,178.20,Habitacional,05,1968.0,Sí,2400.71,213999.29,A010513,624.13,19.401559,-99.195659,SEARS ROEBUCK (U HAB),ALVARO OBREGON
4,1120,66.74,134.31,Habitacional,05,1973.0,Sí,2400.71,160223.39,A010513,825.06,19.401559,-99.195659,SEARS ROEBUCK (U HAB),ALVARO OBREGON

In [35]:
a2 = coyoacan.append(bj)

/var/folders/8s/vcwxyvv93jlbc3gkwsvl2xtm0000gn/T/ipykernel_7575/231809348.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  a2 = coyoacan.append(bj)

In [36]:
a3 = a2.append(cuajimalpa)

/var/folders/8s/vcwxyvv93jlbc3gkwsvl2xtm0000gn/T/ipykernel_7575/4003663115.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  a3 = a2.append(cuajimalpa)

In [37]:
a4 =a3.append(cuauh)

/var/folders/8s/vcwxyvv93jlbc3gkwsvl2xtm0000gn/T/ipykernel_7575/3253120358.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  a4 =a3.append(cuauh)

In [38]:
a5 = a4.append(gustavomadero)

/var/folders/8s/vcwxyvv93jlbc3gkwsvl2xtm0000gn/T/ipykernel_7575/4060878770.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  a5 = a4.append(gustavomadero)

In [39]:
a6 = a5.append(iztacalco)

/var/folders/8s/vcwxyvv93jlbc3gkwsvl2xtm0000gn/T/ipykernel_7575/1745232570.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  a6 = a5.append(iztacalco)

In [40]:
a7 = a6.append(azcapo)

/var/folders/8s/vcwxyvv93jlbc3gkwsvl2xtm0000gn/T/ipykernel_7575/3815678196.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  a7 = a6.append(azcapo)

In [41]:
a8 = a7.append(xochi)

/var/folders/8s/vcwxyvv93jlbc3gkwsvl2xtm0000gn/T/ipykernel_7575/42837493.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  a8 = a7.append(xochi)

In [42]:
a9 = a8.append(venustiano_carranza)

/var/folders/8s/vcwxyvv93jlbc3gkwsvl2xtm0000gn/T/ipykernel_7575/1341745934.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  a9 = a8.append(venustiano_carranza)

In [43]:
a10 = a9.append(tlalpan)

/var/folders/8s/vcwxyvv93jlbc3gkwsvl2xtm0000gn/T/ipykernel_7575/1612963988.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  a10 = a9.append(tlalpan)

In [44]:
a11 = a10.append(tlahuac)

/var/folders/8s/vcwxyvv93jlbc3gkwsvl2xtm0000gn/T/ipykernel_7575/443624429.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  a11 = a10.append(tlahuac)

In [45]:
a12= a11.append(milpa_alta)

/var/folders/8s/vcwxyvv93jlbc3gkwsvl2xtm0000gn/T/ipykernel_7575/1045475757.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  a12= a11.append(milpa_alta)

In [46]:
a13 = a12.append(miguel_hidalgo)

/var/folders/8s/vcwxyvv93jlbc3gkwsvl2xtm0000gn/T/ipykernel_7575/749694267.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  a13 = a12.append(miguel_hidalgo)

In [47]:
a14 = a13.append(magdalena_contreras)

/var/folders/8s/vcwxyvv93jlbc3gkwsvl2xtm0000gn/T/ipykernel_7575/4186861634.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  a14 = a13.append(magdalena_contreras)

In [48]:
a15 = a14.append(iztapalapa)

/var/folders/8s/vcwxyvv93jlbc3gkwsvl2xtm0000gn/T/ipykernel_7575/197123564.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  a15 = a14.append(iztapalapa)

In [49]:
catastro = a15.append(alvaro_obregon)

/var/folders/8s/vcwxyvv93jlbc3gkwsvl2xtm0000gn/T/ipykernel_7575/2221410181.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  catastro = a15.append(alvaro_obregon)

In [50]:
catastro['alcaldia'].unique()

array(['COYOACAN', nan, 'BENITO JUAREZ', 'CUAJIMALPA DE MORELOS',
       'CUAUHTEMOC', 'GUSTAVO A. MADERO', 'IZTACALCO', 'AZCAPOTZALCO',
       'XOCHIMILCO', 'VENUSTIANO CARRANZA', 'TLALPAN', 'TLAHUAC',
       'MILPA ALTA', 'MIGUEL HIDALGO', 'LA MAGDALENA CONTRERAS',
       'IZTAPALAPA', 'ALVARO OBREGON'], dtype=object)

In [51]:
catastro.shape

(120619, 15)

# DATA MANIPULATION

In [52]:
catastro.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120619 entries, 0 to 7071
Data columns (total 15 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   codigo_postal               120613 non-null  object
 1   superficie_terreno          120619 non-null  float64
 2   superficie_construccion     120618 non-null  float64
 3   uso_construccion            118300 non-null  object
 4   clave_rango_nivel           120610 non-null  object
 5   anio_construccion           120587 non-null  float64
 6   instalaciones_especiales    120616 non-null  object
 7   valor_unitario_suelo        120581 non-null  float64
 8   valor_suelo                 120384 non-null  float64
 9   clave_valor_unitario_suelo  120580 non-null  object
 10  subsidio                    120613 non-null  float64
 11  latitud                     120612 non-null  float64
 12  longitud                    120609 non-null  float64
 13  colonia                     120606 non-null  object
 14  alcaldia                    120605 non-null  object
dtypes: float64(8), object(7)
memory usage: 14.7+ MB

## Valor catastro por año

**CATASTRO TO CSV

In [53]:
catastro.to_csv('catastro_emilito.csv')

In [14]:
valor_catastro = pd.read_csv('catastro_editar 2.csv')

/var/folders/8s/vcwxyvv93jlbc3gkwsvl2xtm0000gn/T/ipykernel_20156/855255331.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  valor_catastro = pd.read_csv('catastro_editar 2.csv')

In [15]:
valor_catastro['alcaldia'].unique()

array(['COYOACAN', nan, 'BENITO JUAREZ', 'CUAJIMALPA DE MORELOS',
       'CUAUHTEMOC', 'GUSTAVO A. MADERO', 'IZTACALCO', 'AZCAPOTZALCO',
       'XOCHIMILCO', 'VENUSTIANO CARRANZA', 'TLALPAN', 'TLAHUAC',
       'MILPA ALTA', 'MIGUEL HIDALGO', 'LA MAGDALENA CONTRERAS',
       'IZTAPALAPA', 'ALVARO OBREGON'], dtype=object)

In [16]:
valor_catastro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120619 entries, 0 to 120618
Data columns (total 16 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Unnamed: 0                  120619 non-null  int64
 1   codigo_postal               120613 non-null  object
 2   superficie_terreno          120619 non-null  float64
 3   superficie_construccion     120618 non-null  float64
 4   uso_construccion            118300 non-null  object
 5   clave_rango_nivel           120610 non-null  object
 6   anio_construccion           120587 non-null  float64
 7   instalaciones_especiales    120616 non-null  object
 8   valor_unitario_suelo        120581 non-null  float64
 9   valor_suelo                 120384 non-null  float64
 10  clave_valor_unitario_suelo  120580 non-null  object
 11  subsidio                    120613 non-null  float64
 12  latitud                     120612 non-null  float64
 13  longitud                    120609 non-null  float64
 14  colonia                     120606 non-null  object
 15  alcaldia                    120605 non-null  object
dtypes: float64(8), int64(1), object(7)
memory usage: 14.7+ MB

In [17]:
valor_catastro['anio_construccion']=valor_catastro['anio_construccion'].astype(str)

In [18]:
valor_catastro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120619 entries, 0 to 120618
Data columns (total 16 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Unnamed: 0                  120619 non-null  int64
 1   codigo_postal               120613 non-null  object
 2   superficie_terreno          120619 non-null  float64
 3   superficie_construccion     120618 non-null  float64
 4   uso_construccion            118300 non-null  object
 5   clave_rango_nivel           120610 non-null  object
 6   anio_construccion           120619 non-null  object
 7   instalaciones_especiales    120616 non-null  object
 8   valor_unitario_suelo        120581 non-null  float64
 9   valor_suelo                 120384 non-null  float64
 10  clave_valor_unitario_suelo  120580 non-null  object
 11  subsidio                    120613 non-null  float64
 12  latitud                     120612 non-null  float64
 13  longitud                    120609 non-null  float64
 14  colonia                     120606 non-null  object
 15  alcaldia                    120605 non-null  object
dtypes: float64(7), int64(1), object(8)
memory usage: 14.7+ MB

In [19]:
valor_catastro.shape

(120619, 16)

In [24]:
valor_catastro = valor_catastro[(valor_catastro['uso_construccion']=='Habitacional') | (valor_catastro['uso_construccion']== 'Habitacional y comercial')]

In [25]:
valor_catastro.shape

(111852, 16)

In [26]:
valor_catastro.head()

,Unnamed: 0,codigo_postal,superficie_terreno,superficie_construccion,uso_construccion,clave_rango_nivel,anio_construccion,instalaciones_especiales,valor_unitario_suelo,valor_suelo,clave_valor_unitario_suelo,subsidio,latitud,longitud,colonia,alcaldia
0,0,4110,575.00,702.00,Habitacional,02,1980.0,Sí,5389.03,3098692.25,A040147,0.00,19.358058,-99.170429,DEL CARMEN,COYOACAN
1,1,4100,518.05,486.83,Habitacional,05,2015.0,Sí,5389.03,2791786.99,A040147,3793.23,19.357605,-99.170332,DEL CARMEN,COYOACAN
3,3,4100,995.00,1173.64,Habitacional y comercial,02,1980.0,Sí,5389.03,5362084.85,A040147,0.00,19.358253,-99.170466,DEL CARMEN,COYOACAN
4,4,4110,687.00,604.00,Habitacional,05,1970.0,No,5389.03,3702263.61,A040147,0.00,19.357749,-99.170364,DEL CARMEN,COYOACAN
5,5,4100,262.17,336.85,Habitacional,02,1972.0,Sí,5389.03,1412842.00,A040147,0.00,19.357500,-99.170232,DEL CARMEN,COYOACAN

In [27]:
valor_catastro['alcaldia'].unique()

array(['COYOACAN', 'BENITO JUAREZ', nan, 'CUAJIMALPA DE MORELOS',
       'CUAUHTEMOC', 'GUSTAVO A. MADERO', 'IZTACALCO', 'AZCAPOTZALCO',
       'XOCHIMILCO', 'VENUSTIANO CARRANZA', 'TLALPAN', 'TLAHUAC',
       'MILPA ALTA', 'MIGUEL HIDALGO', 'LA MAGDALENA CONTRERAS',
       'IZTAPALAPA', 'ALVARO OBREGON'], dtype=object)

In [29]:
valor_catastro_por_ano = valor_catastro.groupby(['alcaldia','anio_construccion'],as_index=False)['valor_unitario_suelo'].mean()

In [30]:
valor_catastro_por_ano.head(5)

         alcaldia anio_construccion  valor_unitario_suelo
0  ALVARO OBREGON            1922.0               1659.02
1  ALVARO OBREGON            1936.0               1499.73
2  ALVARO OBREGON            1941.0               1659.02
3  ALVARO OBREGON            1950.0               1659.02
4  ALVARO OBREGON            1951.0               2400.71

** promedio de el valor del suelo habitacional por año y por alcaldia

In [31]:
valor_catastro_por_ano.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1153 entries, 0 to 1152
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   alcaldia              1153 non-null   object
 1   anio_construccion     1153 non-null   object
 2   valor_unitario_suelo  1153 non-null   float64
dtypes: float64(1), object(2)
memory usage: 27.1+ KB

In [32]:
valor_catastro_por_ano['anio_construccion']=valor_catastro_por_ano['anio_construccion'].astype(float)

In [33]:
valor_catastro_por_ano.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1153 entries, 0 to 1152
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   alcaldia              1153 non-null   object
 1   anio_construccion     1145 non-null   float64
 2   valor_unitario_suelo  1153 non-null   float64
dtypes: float64(2), object(1)
memory usage: 27.1+ KB

In [34]:
valor_catastro_por_ano.head(50)

          alcaldia  anio_construccion  valor_unitario_suelo
0   ALVARO OBREGON             1922.0           1659.020000
1   ALVARO OBREGON             1936.0           1499.730000
2   ALVARO OBREGON             1941.0           1659.020000
3   ALVARO OBREGON             1950.0           1659.020000
4   ALVARO OBREGON             1951.0           2400.710000
5   ALVARO OBREGON             1952.0           1968.310000
6   ALVARO OBREGON             1953.0           2659.250000
7   ALVARO OBREGON             1954.0           1659.020000
8   ALVARO OBREGON             1955.0           1730.163333
9   ALVARO OBREGON             1956.0           1989.555000
10  ALVARO OBREGON             1957.0           2400.710000
11  ALVARO OBREGON             1959.0           1968.310000
12  ALVARO OBREGON             1960.0           1840.161667
13  ALVARO OBREGON             1961.0           1909.782500
14  ALVARO OBREGON             1962.0           2237.400000
15  ALVARO OBREGON             1963.0           2205.755000
16  ALVARO OBREGON             1964.0           1915.115714
17  ALVARO OBREGON             1965.0           1940.504615
18  ALVARO OBREGON             1966.0           1997.981947
19  ALVARO OBREGON             1967.0           2054.720482
20  ALVARO OBREGON             1968.0           2148.980000
21  ALVARO OBREGON             1969.0           1974.079796
22  ALVARO OBREGON             1970.0           2085.448372
23  ALVARO OBREGON             1971.0           1972.797000
24  ALVARO OBREGON             1972.0           1873.467551
25  ALVARO OBREGON             1973.0           2303.958964
26  ALVARO OBREGON             1974.0           1960.491111
27  ALVARO OBREGON             1975.0           1978.808060
28  ALVARO OBREGON             1976.0           2020.201523
29  ALVARO OBREGON             1977.0           2074.825140
30  ALVARO OBREGON             1978.0           1982.278545
31  ALVARO OBREGON             1979.0           1981.496353
32  ALVARO OBREGON             1980.0           1998.072897
33  ALVARO OBREGON             1981.0           1940.675470
34  ALVARO OBREGON             1982.0           1993.306403
35  ALVARO OBREGON             1983.0           2042.002917
36  ALVARO OBREGON             1984.0           1968.479348
37  ALVARO OBREGON             1985.0           2060.455046
38  ALVARO OBREGON             1986.0           2004.628148
39  ALVARO OBREGON             1987.0           2014.306262
40  ALVARO OBREGON             1988.0           2055.628936
41  ALVARO OBREGON             1989.0           2013.917308
42  ALVARO OBREGON             1990.0           1951.530094
43  ALVARO OBREGON             1991.0           2046.910795
44  ALVARO OBREGON             1992.0           2070.263056
45  ALVARO OBREGON             1993.0           1999.072054
46  ALVARO OBREGON             1994.0           2025.247808
47  ALVARO OBREGON             1995.0           1994.683558
48  ALVARO OBREGON             1996.0           1910.403423
49  ALVARO OBREGON             1997.0           2028.195700

In [35]:
#valor_catastro_por_ano = valor_catastro_por_ano[valor_catastro_por_ano.anio_construccion != 0]

In [36]:
valor_catastro_por_ano.to_csv('valor_catastro_por_ano.csv')